<!-- templates/_legacy.html -->
<div class="gb-card">
  <div class="gb-card-head">
    <span>From. <span class="from-name">가루형</span></span>
    <span class="date">2025-10-22</span>
  </div>
  <div class="gb-card-body">
    가루 후랭키 멍키 잘있니?<br>
    아직도 주말마다 집으로 가면 가루가 있을거 같은데 가루가 없는 집은 너무 많이 허전하더라. 언제쯤 가루가 없는 집이 익숙해질까? 우리 가루는 평생 가슴에 품고 살테니 걱정하지말고 거기서는 친구도 많이 사귀고 행복하게 지내고 있거라 가루야 사랑해 내동생 안녕~~
  </div>
</div>

<div class="gb-card">
  <div class="gb-card-head">
    <span>From. <span class="from-name">가루누나</span></span>
    <span class="date">2025-10-22</span>
  </div>
  <div class="gb-card-body">
    가루야 너가 떠난지도 벌써 한 달이 되었어~ 그동안 여기는 비도 오고 날씨도 많이 추워졌어 너가 입었던 후리스랑 옷들을 보면서 매일 추억하고있는데..우리가족 안보고싶어 가루야??? 누난 아직도 매일 너 사진이랑 동영상을 보고있어 정말 너무너무 보고싶어<br>
    나는 가루가 그동안 너무 건강해서 이번에도 자고 일어나면 그냥 이겨낼줄 알았어 가루는 그냥 꾹꾹 참고있었던건데. 좀더 빨리 많은걸 해주지 못해서 신경써주지 못해서 미안해<br>
    가는 날까지 너무 귀여웠던 우리가루 이제 다신 가루같은 강쥐는 못만나겠지<br>
    매일 꿈에 나와달라고 기도하고 자는데 한번만 나와줬음 좋겠다 영원히 사랑해~~
  </div>
</div>

<div class="gb-card">
  <div class="gb-card-head">
    <span>From. <span class="from-name">갈사모 1호</span></span>
    <span class="date">2025-10-22</span>
  </div>
  <div class="gb-card-body">
    갈우야 벌써 갈우가 무지개 다리를 건넌지 한 달이 되었구나 그동안 날씨도 많이 추워지고 이제 진짜 가을이 된 거 같아 ~ 거기서 잘 지내구 있니 오늘 하얀 강쥐를 봤는데 가루가 생각났어 사실 강쥐들을 볼때마다 갈우가 생각난단다ㅜㅜ 시간이 진짜 빠르다 하늘에서 고구마 많이 먹고 잘 지내구 있으렴 ~~!!!!
  </div>
</div>

<div class="gb-card">
  <div class="gb-card-head">
    <span>From. <span class="from-name">가루아빠</span></span>
    <span class="date">2025-10-22</span>
  </div>
  <div class="gb-card-body">
    가루가 무지개다리 건너간지 한달이 됐다.<br><br>
    아직도 가루 체취가 집안 곳곳에 남아있고, 금방 그 귀여운 꼬리 흔들며 애교스럽게 나타날 것만 같아, 가루가 없다는 것이 아직도 실감이 나지 않는구나.<br><br>
    여덟해 전, 형과 누나가 한창 사춘기시절, 하얀 한줌 솜뭉치로 아장아장 우리가족 품에 안겼던 귀엽고 천사같던 가루.<br>
    우리가족의 막내역할을 너무너무 잘하고, 집안분위기까지 환하게 만들어준 마법사 같았던 우리가루.<br>
    혼자 있기를 싫어하고 늘 우리가족과 함께하고 싶어했던 가정적인 우리가루.<br>
    우리가족의 심리를 너무 잘 알고 그  마저도 공유하고 챙겨주던 똑똑한 우리가루.<br><br>
    이젠 이세상에서는 다신 볼 수없는 먼곳으로 떠났지만, 사랑하는 우리가루가 만들어준 아름다운 추억들은 우리 기억속에 영원히 남아있을거야.<br><br>
    그리고 우리 가루한테 아빠가 미안한건, 이성교제를 아예 원천봉쇄(?) 했던거, 그리고 아픈 발 땜에 거의 종일 볼상사나운 캡을 목에 걸고 지내게했던게 너무나 마음 아프고 가슴아린 상처로  남아있단다.<br><br>
    우리가족에게 너무너무 소중했던 우리가루, 이젠 아프고 힘들었던 기억 다 훌훌 털어버리고 그곳에서는 여기서 못했던거 실컷 즐기고 마음껏 뛰놀기바란다.<br><br>
    가루야~ <br>
    미안하고, 고맙고, 사랑한다. 🩶<br>
    영원히....
  </div>
</div>

<div class="gb-card">
  <div class="gb-card-head">
    <span>From. <span class="from-name">hae_bang</span></span>
    <span class="date">2025-10-22</span>
  </div>
  <div class="gb-card-body">
    가루아이반호야 집어디에도 너는 있지만  너의발소리는 들리지않는구나  언제 그시간이 흘렀을까 좀더 사랑해줄껄 좀더 안아줄껄  좀더 정성스럽게 맛있는거해줄걸…미안해  북어국끓이면서  음식을하면서 발밑에서 올려다보던 너의모습이 너무생각나  침대에누워있다보면 너의 발자국소리 맨날 층간소음생길정도라고 했던 그기분좋고 선명했던소리 생각나<br>
    그리운 그리고 너무너무 미안한가루야 사랑해  일주일동안 너무많이  아팠어서  기억하기싫을정도야  아팠던너에게 너무 잘해주지 못해서 미안해 행복했던순간만 기억하고싶은대…미안한거 뿐이야 사랑해 사랑해 그리운가루  그곳에서 재밋게 놀고있어 알겠지??
  </div>
</div>

<div class="gb-card">
  <div class="gb-card-head">
    <span>From. <span class="from-name">갈사모4호</span></span>
    <span class="date">2025-10-18</span>
  </div>
  <div class="gb-card-body">
    가루 프랭키 아이반호 멍키야 여기는 어제까지는 낮에 엄청 덥다가 갑자기 오늘부터 비도오고 엄청추워졌어☔️ 거기서 따순옷입고 꼬순내 폴폴 풍기면서 규돌양네 가족분들 꿈에도 좀 나오고 그러렴~~!!!🐶
  </div>
</div>

<div class="gb-card">
  <div class="gb-card-head">
    <span>From. <span class="from-name">갈사모4호</span></span>
    <span class="date">2025-10-14</span>
  </div>
  <div class="gb-card-body">
    귀엽고 사랑스런 가루야 거기서 맛있는거 많이먹고 잘 지내고있니??? 처음 갈우가 무지개다리 건넜다는 소식을 듣고 정말정말 슬펐어,,,ㅠㅠ 왜냠 가루 너는 내인생의 원픽 강아지였거둥,,,그건 지금도 유효하고 앞으로도 그럴거야🫡 규돌양네 놀러갈때마다 귀여운 모습으로 나를 반겨주던 갈우가 생각이난다,,,눙물이 주륵주륵 나가지고 편지를 빨리쓸수없었던 눈아를 용서해😭 규돌양한테 계속 가루보러간다고 했었는데 못간 날들이 후회가 되는구나,,,ㅠㅠ  마지막 일주일에 많이 아팠다고 들었는데 규돌양네 가족분들이 정말 너를 평생동안 잘 케어해주셔가지고 그 일주일을 제외하고는 그래도 우리 갈우가 무병장수한 것 같아서 조금이나마 위로가돼,,,<br>
    갈우야 너는 알지모르겠지만 너는 정말정말 사랑받는 강아지였단다🐶💕내가아는 강아지중에 제일 관리도 잘 받고 사랑도 듬뿍받았어 정말 강아지를 키우려면 규돌양네처럼 키워야된다고 생각할만큼👍🏻 거기서도 항상 행복하고 밥도 잘먹고 못했던 산책도 실컷하고 멋진 가루가 되어줘💙
  </div>
</div>

<div class="gb-card">
  <div class="gb-card-head">
    <span>From. <span class="from-name">가루누나</span></span>
    <span class="date">2025-10-06</span>
  </div>
  <div class="gb-card-body">
    가루야~ 사랑하는 가루야 보고있어도 보고싶고 만지고있어도 만지고싶었던 우리가루야<br>
    추석 되니까 울가루가 너무 생각난다 맛있는것도 많이 먹고 물도 많이 마시고 잘 지내고있지~~<br>
    하고싶은거 먹고싶은거 많던 너인데 패드도 두번은 절대 안쓰는 깔끔쟁이 너인데 일주일간 얼마나 힘들었을까 그것만 생각하면 누나 맘이 너무너무 아파<br>
    날씨 좋으면 누나가 더 슬퍼할거 알고 이렇게 계속 흐린걸가 오늘도 비가 많이 오는구나<br>
    다시 만날때까지 울가루는 그곳에서 가장 행복하고 사랑 많이 받은 강쥐이기를 매일매일 사랑해
  </div>
</div>

<div class="gb-card">
  <div class="gb-card-head">
    <span>From. <span class="from-name">hae_bang</span></span>
    <span class="date">2025-10-06</span>
  </div>
  <div class="gb-card-body">
    추석날가루에게<br>
    사랑하는가루야  엄마에게 와줘서 고마워<br>
    언제나  어느곳에서나 널 기억할께!! 잊지않을께!!<br>
    고맙고 미안해 우리가족에개 행복을 줘서 고마워<br>
    한복입은널 사진으로 보면서 다시볼수없다는게 만질수없다는게 슬프지만 …사랑해 가루아이반호😄<br>
    꿈에서라도 엄마품에 달려와줘🙏🏻
  </div>
</div>

<div class="gb-card">
  <div class="gb-card-head">
    <span>From. <span class="from-name">갈사모 1호</span></span>
    <span class="date">2025-10-05</span>
  </div>
  <div class="gb-card-body">
    갈우야 추석인데 맛있는 거 먹고 있니<br>
    요즘 갈우가 더 생각나는구낭<br>
    잘 지내고 있니 동물친구도 많이 사귀었니<br>
    울 갈우는 I인데 말야.,, 꿈에 한 번 찾아오걸아 누나가 맛있는 거 마니 줄게
  </div>
</div>

<div class="gb-card">
  <div class="gb-card-head">
    <span>From. <span class="from-name">갈사모 3호</span></span>
    <span class="date">2025-09-30</span>
  </div>
  <div class="gb-card-body">
    우리 갈우 잘지내고 있냥<br>
    보고싶당...🥹<br>
    갈우야 규돌 누나 꿈에 나와서 로또 번호 불러주고 가걸아
  </div>
</div>

<div class="gb-card">
  <div class="gb-card-head">
    <span>From. <span class="from-name">갈사모 2호 유돌</span></span>
    <span class="date">2025-09-23</span>
  </div>
  <div class="gb-card-body">
    가루야~ 가루 처음 만났을 때 너무 작고 사랑스러웠던 모습이 선명한데 긴 여행 떠났다는 소식 듣고 믿기지 않고 사실 믿고 싶지도 않았어. 가루가 우리들한테 특별했던 강아지라 정말 많이 슬프더라.. 한 번이라도 더 보러 갈 걸 후회도 되고 자주 가지 못해서 미안해ㅜ 그래도 좋은 가족 만나 행복하게 지내다 가서 다행이야. 가끔 가족들 꿈에도 나와주고 오늘처럼 날씨 좋은 날 구름으로 나타나주면 내가 가루인 거 알아보고 인사할게!! 강아지별에서 먹고 싶은 거 하고 싶은 거 다 하면서 건강하게 지내고 있어! 울 집에도 아더 꼬기라고 있거든? <br>
    언젠가 소개해 주고 싶었는데 얘네도 강아지별 가면 우리 가루가 기강 한 번 잡아주고 사이좋게 뛰어놀아줘🐾 (비밀인데 가루 생일이 나한테 까먹을 수 없는 번호야 속닥) 그니까 우리 가루 잊지 않고 함께했던 시간 소중하게 추억할게! 그동안 많은 사람 행복하게 해줘서 고맙고 고생했어 가루야 사랑해🤍
  </div>
</div>

<div class="gb-card">
  <div class="gb-card-head">
    <span>From. <span class="from-name">보리감자누나</span></span>
    <span class="date">2025-09-22</span>
  </div>
  <div class="gb-card-body">
    세상에서 제일 귀엽고 사랑스러운 댕이 가루야🐾<br><br>
    중학생 때 처음 널 만났는데 그때부터 지금까지 내가 가장 많이 본 댕이가 바로 너였어. 살면서 직접 산책시켜본 강아지도 너 하나뿐이라 더 특별했어. 그래서 처음에 소식 들었을 땐 믿기지도 않다가 시간이 지나니까 너무 슬퍼서 엉엉 울었다🥲 근데 너무 슬퍼하면 가루도 슬플거 아니까 오늘까지만 슬퍼할게... 내일부턴 가루랑 함께해던 추억 생각하면서 지낼게.<br><br>
    일주일 동안 밥 잘 못 먹었다는 말에 맘이 많이 아팠어. 내 머릿 속 가루는 사료 아그작 씹고 맥너겟 맛있게 먹던 모습만 있는데 말이야... 지금쯤 무지개다리 잘 건너서 미슐랭 3스타 맛집에서 스테이크 썰고 파스타 돌돌 말아 맛있게 먹고 있겠지? 맛난거 많이 먹고 단식으로 빠진 살 다시 찌워야해🐷<br><br>
    글구 요즘 100세 시대라고 해도 100살 못 채우고 가는 인간들 짱 많거든? 우리 가루는 100살 넘게 안아프고 행복하게 살다 가서 넘 기특하고 멋있어. 우리 집에 보리감자라고 고영희들이 있는데 걔네 롤모델이 바로 가루 너임. 보감이 무지개다리 건널 때 같이 놀아 줄 수 있어?? 우리 가루가 좋아하는 간식 챙겨서 보낼게🍗<br><br>
    엄빠누나엉아 슬퍼하지 않게 꿈에 자주 나와서 가루 잘 지내는 모습 많이 보여줘. 시원해지면 가루랑 같이 산책 가려고 했는데 일찍 못 가서 미안해... 그래도 가루랑 함께한 모든 시간이 너무 행복했어. 극락왕생 하걸아. 가루 프랭키 아이반호 멍키 왕자. 그동안 고마웠고 정말 고생 많았어. 푹 쉬어. 사랑해!🖤
  </div>
</div>

<div class="gb-card">
  <div class="gb-card-head">
    <span>From. <span class="from-name">갈사모 1호 영돌</span></span>
    <span class="date">2025-09-22</span>
  </div>
  <div class="gb-card-body">
    가루야 <br>
    가루를 처음 봤을 때가 아직도 선명한데 벌써 긴 여행을 떠났구나 <br>
    좋은 가족 만나서 행복하게 살다 간 거 같아 다행이야<br><br>
    그 곳에선 맛있는 거 많이 먹고 발가락도 매일 빨고 좋은 곳에서 다리도 튼튼해져서 산책도 많이 하고 시력 10.0 돼서 좋은 곳 많이 보고 귀엽고 착한 친구들과 맘껏 뛰놀길 바라 ❣️<br><br>
    벌써 보고 싶구나 가루야 ㅠㅠ 아직도 개모차에서 꼬리 흔드는 모습이 눈에 선한데 바쁘다는 핑계로 안 간 게 너무너무 후회되는구나 ㅠㅠ 이렇게까지 누군가의 강아지를 좋아한 건 가루가 처음이자 마지막일 거 같아,, 가루처럼 사랑스럽고 귀여운 강쥐도 처음이자 마지막이야.. 나 이제 판교 못 갈 거 같아 책임져~~~ ㅠㅠ<br>
    이렇게 모두에게 사랑받았으니 좋은 기억만 가져갔겠지? 그리고 생각해보니 가루도 우리에게 사랑도 주고 행복도 줬구나 고마워 하늘에서 규돌이랑 규돌이 가족분들 언제나 건강하고 행복하게 해줘<br>
    꽃사슴 가루야 사랑해!!! ❣️❣️❣️
  </div>
</div>